
    body {
        background-color: #f8f9fa;
    }

    .custom-footer {
        background-color: #343a40;
        color: #fff;
        padding: 2rem;
    }

  h2 {
    text-align: center;
    padding-bottom: 4rem;
  }
